<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Ozan Pokedex Manager </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Pokemon </h1>

            <div class="card-body">
                <form th:action="@{/pokemons}" th:object="${pokemon}" method="POST">
                    <div class="form-group">
                        <label>Pokemon Name</label>
                        <input type="text" name="name" th:field="*{name}" class="form-control"
                               placeholder="Enter Pokemon Name"/>
                    </div>

                    <div class="form-group">
                        <select name="evolution">

                            <option th:each="evoOpt : ${T(com.ozan.pokedexmanager.service.enums.Evolution).values()}"
                                    th:value="${evoOpt}" th:text="${evoOpt.evoName}"></option>
                        </select>
                    </div>


<!--                    <div class="form-group">-->
<!--                        <label>Evolution</label>-->
<!--                        <select name="evolution" th:field="*{evolution}" class="form-control">-->
<!--                            <option th:each="evolution : ${evolutions}" th:value="${evolution}"-->
<!--                                    th:text="${evolution}"></option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label>Type</label>-->
<!--                        <select name="type" class="form-control">-->
<!--                            <option th:each="type : ${T(com.ozan.pokedexmanager.service.enums.Type).values()}"-->
<!--                                    th:value="${type}" th:text="${type.displayName}"></option>-->
<!--                        </select>-->
<!--                    </div>-->



    <div class="form-group">
                    <select name="type">

                        <option th:each="typeOpt : ${T(com.ozan.pokedexmanager.service.enums.Type).values()}"
                                th:value="${typeOpt}" th:text="${typeOpt.typeName}"></option>
                    </select>
    </div>



                    <div class="form-group">
                        <label>Evolution From</label>
                        <input type="text" name="evolutionFrom" th:field="*{evolutionFrom}" class="form-control"
                               placeholder="Enter Evolution From"/>
                    </div>

                    <div class="form-group">
                        <label>Specialization One</label>
                        <input type="text" name="specializationOne" th:field="*{specializationOne}" class="form-control"
                               placeholder="Enter Specialization One"/>
                    </div>

                    <div class="form-group">
                        <label>Specialization Two</label>
                        <input type="text" name="specializationTwo" th:field="*{specializationTwo}" class="form-control"
                               placeholder="Enter Specialization Two"/>
                    </div>

                    <div class="form-group">
                        <label>Health</label>
                        <input type="number" name="health" th:field="*{health}" class="form-control"
                               placeholder="Enter Health"/>
                    </div>

                    <div class="form-group">
                        <label>Weakness</label>
                        <input type="number" name="weakness" th:field="*{weakness}" class="form-control"
                               placeholder="Enter Weakness"/>
                    </div>

                    <div class="form-group">
                        <label>Resistance</label>
                        <input type="number" name="resistance" th:field="*{resistance}" class="form-control"
                               placeholder="Enter Resistance"/>
                    </div>

                    <div class="form-group">
                        <label>Retreat</label>
                        <input type="number" name="retreat" th:field="*{retreat}" class="form-control"
                               placeholder="Enter Retreat"/>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" th:field="*{description}" class="form-control"
                                  placeholder="Enter Description"></textarea>
                    </div>

                    <div class="footer-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>


            </div>


        </div>


    </div>

</div>


</body>
</html>