<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ozan Pokedex Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<!--    NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/pokemons"> Pokemons </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/pokemons/new"> New Pokemon <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<!--    NAVBAR-->


<div class="container">

    <div class="row">
        <h1> Ozan's List of Pokemons </h1>
    </div>



    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/pokemons/new}" class="btn btn-primary btn-sm mb-3"> Add Pokemon </a>
        </div>
    </div>

        <table class="table table-striped table-bordered">
            <thead class="table-primary">
            <tr>
                <th >Id</th>
                <th >Name</th>
                <th >Category</th>
                <th >Type</th>
                <th >Evolution</th>
                <th >Speciality</th>
                <th >Speciality</th>
                <th >Health</th>
                <th >Weakness</th>
                <th >Resistance</th>
                <th >Retreat</th>
                <th >Information</th>
                <th >Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="pokemon: ${pokemons}">
                <td th:text="${pokemon.id}"></td>
                <td th:text="${pokemon.name}"></td>
                <td th:text="${pokemon.evolution}"></td>
                <td th:text="${pokemon.type}"></td>
                <td th:text="${pokemon.evolutionFrom}"></td>
                <td th:text="${pokemon.specializationOne}"></td>
                <td th:text="${pokemon.specializationTwo}"></td>
                <td th:text="${pokemon.health}"></td>
                <td th:text="${pokemon.weakness}"></td>
                <td th:text="${pokemon.resistance}"></td>
                <td th:text="${pokemon.retreat}"></td>
                <td th:text="${pokemon.description}"></td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>